body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#D1E8E2;
}

.main-container{
    display:flex;
    height:100vh;
}

/* LEFT SIDE */

.left-panel{
    width:50%;
    background:#2C3531;

    color:white;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    padding:50px;
}

.logo-image{
    width:220px;
    margin-bottom:20px;
}

.system-title{
    color:#FFCB9A;
    font-size:42px;
    margin-bottom:15px;
}

.system-text{
    width:70%;
    text-align:center;
    color:#D1E8E2;
    line-height:1.6;
}

/* RIGHT SIDE */

.right-panel{
    width:50%;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* LOGIN CARD */

.login-container{
    width:400px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}

.login-title{
    text-align:center;
    color:#116466;
    margin-bottom:30px;
}

.input-box{
    width:100%;

    padding:12px;

    margin-top:15px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

    box-sizing:border-box;
}

.btn{
    width:100%;

    margin-top:25px;

    background:#116466;

    color:white;

    padding:12px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

    transition:0.3s;
}

.btn:hover{
    background:#2C3531;
}