*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#D7B7A3;
}

/* MAIN CONTAINER */

.main-container{
    display:flex;
    width:100%;
    height:100vh;
}

/* LEFT PANEL */

.left-panel{
    width:50%;
    background:#2B1B1D;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    padding:30px;
}

/* LOGO */

.logo-image{
    width:450px;
    height:450px;

    object-fit:contain;

    margin-bottom:25px;

    filter:drop-shadow(0px 4px 10px rgba(0,0,0,0.4));
}


/* DESCRIPTION */

.system-text{
    color:#D7B7A3;

    width:70%;

    text-align:center;

    line-height:1.8;

    font-size:18px;
}

/* RIGHT PANEL */

.right-panel{
    width:50%;

    display:flex;

    justify-content:center;

    align-items:center;
}

/* LOGIN CARD */

.login-container{
    width:420px;

    background:white;

    padding:45px;

    border-radius:25px;

    box-shadow:0px 8px 20px rgba(0,0,0,0.2);
}

/* LOGIN TITLE */

.login-title{
    text-align:center;

    color:#5A0F22;

    font-size:36px;

    margin-bottom:10px;
}

/* LOGIN SUBTITLE */

.login-subtitle{
    text-align:center;

    color:#777;

    margin-bottom:30px;
}

/* INPUT */

.input-box{
    width:100%;

    padding:14px;

    margin-top:18px;

    border:1px solid #ccc;

    border-radius:12px;

    font-size:16px;

    transition:0.3s;
}

/* INPUT FOCUS */

.input-box:focus{
    outline:none;

    border:2px solid #8B1E3F;

    box-shadow:0px 0px 5px rgba(139,30,63,0.4);
}

/* BUTTON */

.btn{
    width:100%;

    margin-top:28px;

    background:#8B1E3F;

    color:white;

    padding:14px;

    border:none;

    border-radius:12px;

    font-size:17px;

    cursor:pointer;

    transition:0.3s;
}

/* BUTTON HOVER */

.btn:hover{
    background:#5A0F22;

    transform:scale(1.02);
}