*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/* BODY */

body{
    background:#D7B7A3;
}

/* MAIN CONTAINER */

.dashboard-container{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:270px;
    background:#2B1B1D;
    padding:30px 20px;
    color:white;
}

/* LOGO */

.sidebar-logo{
    text-align:center;
    margin-bottom:50px;
}

.sidebar-logo img{
    width:120px;
    margin-bottom:15px;
}

.sidebar-logo h2{
    color:#D7B7A3;
    font-size:24px;
}

/* MENU */

.menu{
    list-style:none;
}

.menu li{
    margin:18px 0;
}

.menu li a{
    display:block;
    padding:14px;
    text-decoration:none;
    color:#D7B7A3;
    border-radius:12px;
    transition:0.3s;
    font-size:16px;
}

.menu li a:hover,
.menu li a.active{
    background:#8B1E3F;
    color:white;
}

/* CONTENT */

.dashboard-content{
    flex:1;
    padding:40px;
}

/* HEADER */

.dashboard-header{
    margin-bottom:40px;
}

.dashboard-header h1{
    font-size:38px;
    color:#5A0F22;
    margin-bottom:10px;
}

.dashboard-header p{
    color:#2B1B1D;
    font-size:18px;
}

/* CARDS */

.card-container{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}

.dashboard-card{
    background:white;
    width:250px;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.15);
    border-left:8px solid #8B1E3F;
    transition:0.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card h3{
    color:#5A0F22;
    margin-bottom:15px;
    font-size:20px;
}

.dashboard-card p{
    font-size:38px;
    font-weight:bold;
    color:#2B1B1D;
}

/* SUMMARY SECTION */

.summary-section{
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.15);
}

.summary-section h2{
    color:#5A0F22;
    margin-bottom:15px;
}

.summary-section p{
    color:#444;
    line-height:1.8;
}